html, body {
	height: 100%;
	background-image: url("/img/bg.jpg");
	background-repeat: repeat;
}

#header {
	font-size: 1.225rem;
	color: #337;
	background-color: lightblue;
	box-shadow: 0px 1px 8px lightgrey;
	position: relative;
}

#header button {
	min-height: 1.3rem;
	font-size: 1.225rem;
}

#header a {
	font-size: 1.225rem;
	color: #337;
	text-decoration: none;
	transition: color .2s ease;
}

#header a:hover {
	color: #000;
}

#body {
	min-width: 90vw;
	font-size: 1.1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	padding: 1rem;
	padding-bottom: 1.6rem;
	padding-top: .4rem;
	background-color: ghostwhite;
	margin-left: 40px;
	margin-right: 40px;
	box-shadow: 0px 0px 15px lightgrey;
	flex-grow: 1;
}

#footer {
	font-size: 0.85rem;
	min-height: 5.5rem;
	color: #99C;
	background-color: aliceblue;
	box-shadow: 0px 0px 7px lightgrey;
}

@media screen and (max-width: 70em) {
	#header {
		font-size: 2.225rem;
	}
	#header button {
		min-height: 1.3rem;
		font-size: 2.125rem;
	}
	#header a {
		font-size: 2.225rem;
	}
	
	#body {
		font-size: 2.1rem;
	}
	#footer {
		font-size: 2.1rem;
	}
}

#logo {
	min-width: 30rem;
}

#logo img {
	display: block;
	margin: auto;
}

#nav {
	min-width: 20rem;
	min-height: 7rem;
}

#content {
	padding-bottom: 40px;
	padding-top: 15px;
}


.cryptoBox {
	width: 45vh;
	max-width: 90%;
	height: 45vh;
	max-height: 90%;
	padding:10px;
	margin: 10px;
	text-align: center;
	font-size: 2.5vh;
	overflow: hidden;
	transition: box-shadow .6s ease, border-color .6s ease;
}
.cryptoBox:hover {
	border-color: powderblue;
	box-shadow: 0px 0px 8px lightgrey;
}

.cryptoBox img {
	height: 25vh;
	width: 25vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
}

.cryptoBox button {
	width: 20vh;
	max-width: 20rem;
	font-size: 2.5vh;
	padding: .3rem;
	margin: .2rem auto;
}
